html, body {
    margin: 0;
    background-color: #f3faf1;
    font-family: 'Inter';
    color: #0a1608;
}

a, p, ul, li {
    text-decoration: none;
    list-style: none;
    color: #f1f3f0;
    font-weight: 450;
}

.header nav {
    width: 100%;
    background-color: #050704;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cbcec2;
}

.header ul {
    display: flex;
    gap: 1vh;
}

.header img {
    height: 50px;
    width: auto;
    position: initial;
    gap: 0.25rem;
}

.header a:hover {
    color: #62bf4a;
}

.header ul {
    display: flex;
    gap: 1vh;
}

.header a:hover {
    color: #62bf4a;
}

.header button {
    border: none;
    padding: 0.5rem;
    background-color: #62bf4a;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

.ventabici {
    padding: 20px;
    background-color: #f3faf1;
    margin-bottom: 30px;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    border: 1.8px solid  #62bf4a; 
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-venta {
    padding: 20px;
    background-color: #fff;
}

.info-venta h3 {
    margin: 0;
    color: #050704;
}

.info-venta p {
    margin: 0 0 10px;
    color: #4d4d4d;
}

.contenedor {
    display: flex;
}

.text h2 {
    text-align: justify; 
    line-height: 1.2; 
    max-width: 1250px; 
    margin: 0 auto; 
    padding: 30px; 
    font-size: 1.5rem;
    font-weight: 500;
}

.aboutinfo h2, p{
    text-align: justify; 
    line-height: 1.2; 
    max-width: 1250px; 
    margin: 0 auto; 
    padding: 0px; 
    font-size: 1.5rem;
    font-weight: 500;
    color: #050704;
}

.ventabici h2 {
    text-align: justify; 
    line-height: 1.2; 
    max-width: 1250px; 
    margin: 0 auto; 
    padding: 0px; 
    font-size: 1.5rem;
    font-weight: 500;
}

.fondoabout {
    height: 575px;
    position: relative; 
}

.fondoabout img {
    width: 1024px;
    height: 550px;
    position: absolute; 
    bottom: 0%; 
    left: 50%; 
    transform: translateX(-50%); 
}

.carousel {
    width: 1024px;
    height: 450px;
    margin: 0 auto; 
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev, .carousel-control-next {
    width: 6rem; 
    height: 6rem; 
    font-size: 1rem; 
    background: rgba(0, 0, 0, 0.5); 
}

.carousel-control-prev, .carousel-control-next {
    width: 3rem; 
    height: 3rem; 
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}

.carousel-control-prev {
    left: 0; 
}

.carousel-control-next {
    right: 0; 
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-info p {
    color: #0a1608;
}

.footer-social img {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

.imagen {
    height: 250px;
    padding: 30px;
    right: auto;
}

.txt{
    color: white;
    background-color: black;
    padding: 5px; 
    text-align: center; 
}

.txt p {
    color: white;
    background-color: black;
    padding: 5px; 
    text-align: center; 
}

.cont {
    text-align: center;
}

.cont img {
    width: 350px;
}