{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "./style.css" %}' rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Proyecto</title>
     
</head>
<body style="background-color: #f3faf1;">
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '/img/image.png' %}" alt="home"> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'api' %}">Accessories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./register.html">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bikes' %}">Bikes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'clientes' %}">Clientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="aboutinfo container-fluid">
        <div class="objetivos">
            <h2 class="titulo">Nuestros Objetivos de BikeLand</h2>
        </div>
    </section>
    <div class="estilovida">
        <img class="imagen1" src="{% static '/img/3G4A3099-1024x683.jpg' %}">
        <div class="texto1">
            <h3>Estilo de Vida </h3>
            <p2>Promover el ciclismo como un estilo de vida saludable y sostenible, inspirando hábitos activos y conscientes.
                Conexiones Significativas: Crear conexiones significativas entre los ciclistas, construyendo una red de apoyo y camaradería más allá de pedalear.</p2>
        </div>    
    </div>
    <div class="accesibilidad">
        
        <div class="texto2">
            <h3> Accesiblidad </h3>
            <p2>para Todos: Hacer que el ciclismo sea accesible para todos, incluyendo aquellos con desafíos físicos, mediante productos y servicios adaptados.
                Experiencia Emocionante: Ofrecer experiencias emocionantes y gratificantes a través de productos y servicios de calidad que mejoren la experiencia de pedalear..</p2>
        </div> 
        <img class="imagen2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjqR4fzn5K4s4bcnwR8CJJTeSkEOnufzoLmg&s">   
    </div>     
    <div class="comunidad">
        <img class="imagen3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdEeht1PFY0Il0_-slay_D8Fi2ohAtbZHx_w&s">
        <div class="texto3">
            <h3>Comunidad Acogedora</h3>
            <p2>Fomentar una comunidad ciclista inclusiva y amigable donde todos se sientan bienvenidos y apoyados para realizar el deporte que les apaciona sin necesidad de ser excluidos.</p2>
        </div>    
    </div>
    

    <footer class="footer-container">
        <div class="footer-info">
            <p>&copy; 2024 BikeLand. Todos los derechos reservados.</p>
        </div>
        <div class="footer-social">
            <a href="https://www.facebook.com/BikeLand" target="_blank"><img src="{% static '/img/facebook-logo-facebook-logo-transparent-facebook-icon-transparent-free-free-png.webp'%}" alt="Facebook"></a>
            <a href="https://www.instagram.com/BikeLand" target="_blank"><img src="{% static '/img/Instagram_icon.png.webp'%}" alt="Instagram"></a>
            <a href="https://www.twitter.com/BikeLand" target="_blank"><img src="{% static '/img/twitter-logo-twitter-icon-transparent-free-free-png.webp'%}" alt="Twitter"></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
