/**navbar**/

html, body {
    margin: 0;
    background-color: #f3faf1;
    font-family: 'Inter';
    color: #0a1608;
}

a ,ul ,li {
    text-decoration: none;
    list-style: none;
    color: #f1f3f0;
    font-weight: 450;
}

.header nav {
    width: 100%;
    background-color: #050704;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cbcec2;
}

.header ul {
    display: flex;
    gap: 1vh;
}

.header img {
    height: 50px;
    width: auto;
    position: initial;
    gap: 0.25rem;
}

.header a:hover {
    color: #62bf4a;
}

.header ul {
    display: flex;
    gap: 1vh;
}

.header a:hover {
    color: #62bf4a;
}

.header button {
    border: none;
    padding: 0.5rem;
    background-color: #62bf4a;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}
/**Register form**/

.custom-register {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}

.custom-register-title {
    font-size: 36px;
    text-align: center;
}

.custom-register-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.custom-register-input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.custom-register-input::placeholder {
    color: white;
}

.custom-register-icon {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.custom-register-remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 14.5px;
    margin: 15px 0; 
}

.custom-register-remember-forgot-label {
    margin-right: 5px; 
}

.custom-register-remember-forgot-checkbox {
    transform: scale(1.5);
}

.custom-register-remember-forgot a {
    color: black;
    text-decoration: none;
}

.custom-register-btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.custom-register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.custom-register-link a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.custom-register-link a:hover {
    text-decoration: underline;
}

.custom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
.custom-back-btn {
    width: 420px; 
    height: 45px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 12px;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-back-btn:hover {
    background-color: black;
}

/**Login form**/

.login-form {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
}

.login-form h1 {
    font-size: 36px;
    text-align: center;
}

.login-form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login-form input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.login-form input::placeholder {
    color: white;
}

.login-form i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.login-form .remember-forgot {
    display: flex;
    align-items: center; 
    font-size: 14.5px;
    margin: 15px 0; 
}

.login-form .remember-forgot label {
    margin-right: 5px; 
}

.login-form .remember-forgot input[type="checkbox"] {
    transform: scale(1.5);   
}

.login-form .remember-forgot a {
    color: white;
    text-decoration: none;
}

.login-form .btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.login-form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-form .register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-form .register-link p a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

/**bikes**/
.ventabici {
    padding: 20px;
    background-color: #f3faf1;
    margin-bottom: 30px;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    border: 1.8px solid #62bf4a;
    position: relative;
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-venta {
    padding: 20px;
    background-color: #fff;
}

.info-venta h3 {
    margin: 0;
    color: #050704;
}

.info-venta p {
    margin: 0 0 10px;
    color: #4d4d4d;
}

.contenedor {
    display: flex;
}

.text h2 {
    text-align: justify;
    line-height: 1.2;
    max-width: 1250px;
    margin: 0 auto;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}

.text p {
    font-size: 1.5rem;
}

.producto:hover .info-hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.info-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/**text venta info about y titulo**/
.titulo {
    text-align: center;
}

.estilovida {
    justify-content: space-around;
    display: flex;
    align-items: center;
    line-height: 1.2;
    text-align: justify;
    margin: 0 auto;
    padding: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #050704;
    border: 1.8px solid  #62bf4a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen1 {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.texto1 {
    margin-left: 50px;
    padding: 20px;
    background-color:#fff;
}

.accesibilidad {
    justify-content: space-around;
    display: flex;
    align-items: center;
    line-height: 1.2;
    text-align: justify;
    margin: 0 auto;
    padding: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #050704;
    border: 1.8px solid #62bf4a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.texto2 {
    margin-right: 50px;
    padding: 20px;
    background-color: #fff;
}

.imagen2 {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.comunidad {
    justify-content: space-around;
    display: flex;
    align-items: center;
    line-height: 1.2;
    text-align: justify;
    margin: 0 auto;
    padding: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #050704;
    border: 1.8px solid #62bf4a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.texto3 {
    margin-left: 50px;
    padding: 20px;
    background-color: #fff;
}

.imagen3 {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.fondoabout {
    height: 575px;
    position: relative; 
}

.fondoabout img {
    width: 1024px;
    height: 450px;
    position: absolute; 
    bottom: 17%; 
    left: 50%; 
    transform: translateX(-50%); 
}
/**carousel**/
.carousel {
    width: 1024px;
    height: 450px;
    margin: 0 auto; 
    overflow: hidden;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev, .carousel-control-next {
    width: 6rem; 
    height: 6rem; 
    font-size: 1rem; 
    background: rgba(0, 0, 0, 0.5); 
}

.carousel-control-prev, .carousel-control-next {
    width: 3rem; 
    height: 3rem; 
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}

.carousel-control-prev {
    left: 0; 
}

.carousel-control-next {
    right: 0; 
}
/**footer**/
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-info p {
    color: #0a1608;
}

.footer-social img {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

.imagen {
    height: 200px;
    padding: 30px;
    right: auto;
}

.txt {
    color: white;
    background-color: black;
    padding: 5px; 
    text-align: center; 
}

.txt p {
    color: white;
    background-color: black;
    padding: 5px; 
    text-align: center; 
}

.cont {
    text-align: center;
}

.cont img {
    width: 350px;
}
.map-container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: relative; 
}

#map {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
}


